#customize-controls .control-section-overclockers .accordion-section-title:hover,
#customize-controls .control-section-overclockers .accordion-section-title:focus {
    background-color: #fff;
}

.overclockers-drag-spinner {
    display: none;
    float: right;
}

#sub-accordion-panel-overclockers_homepage_settings .customize-info .customize-panel-description {
    display: block !important;
}

.rtl .control-section-overclockers .accordion-section-title .button {
    margin-left: 0;
    margin-right: 8px;
}

#accordion-section-overclockers .accordion-section-title .button {
    height: 40px;
    line-height: 38px;
    text-transform: uppercase;
    padding: 0 25px 0;
}

#accordion-section-overclockers .accordion-section-title:before {
    content: '';
}

#accordion-section-overclockersdoc .accordion-section-title .button {
    float: right;
}

.customize-control-overclockers-upgrade-text {
    background: #FFFFFF;
    box-sizing: border-box;
    padding: 10px;
}

.customize-control-overclockers-upgrade-text ul {
    margin: 8px 0 0 16px;
    font-style: italic;
}

.customize-control-overclockers-upgrade-text ul li:before {
    content: '- ';
    margin-left: -8px;
}

.control-section-overclockers-upgrade-section {
    background: #FFF;
    padding: 20px;
    margin: 15px;
}

.control-section-overclockers-upgrade-section .button {
    display: block;
    text-align: center;
    margin-top: 10px;
}

.control-section-overclockers-upgrade-section label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
}

.control-section-overclockers-upgrade-section {
    background: #FFF;
    padding: 20px;
    margin: 15px;
}

.control-section-overclockers-upgrade-section .button {
    display: block;
    text-align: center;
    margin-top: 10px;
}

.control-section-overclockers-upgrade-section label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
}

.customizer-hidden {
    visibility: hidden;
    opacity: 0;
    height: 0;
    position: absolute;
    clip: rect(0, 0, 0, 0);
    left: -1000px;
    display: none;
}


/* #popoverWrapper {
    position: relative;
} */

#popoverOpener {
    /* position: absolute;
    left: 50%;
    margin-left: -10vw;
    text-align: center;
    top: 45vh;
    width: 20vw; */
}

.bootstrap .popover {
    transition: left 400ms ease-out, top 250ms ease-in;
}

.popover-content>div {
    text-align: center;
}

.popover-content>div>a:link {
    border: 1px solid lavender;
    border-radius: 8px;
    display: inline-block;
    padding: 4px;
    text-decoration: none;
    transition: all 250ms;
}

.popover-content>div>a:hover {
    background-color: #eeeeff;
    border-color: #AFAFBF;
    border-radius: 4px;
    box-shadow: 0 0 4px #ccc;
}