.customize-control-repeater .customize-control-title,
.customize-control-overclockers-typography .customize-control-title,
.overclockers-accordion-section-title {
    display: flex;
    align-items: center;
    color: #000;
    margin: 10px 0;
    text-transform: uppercase;
    font-weight: bold;
}

.customize-control-repeater .customize-control-title::before,
.customize-control-overclockers-typography .customize-control-title::before,
.overclockers-accordion-section-title:before {
    /* content: ''; */
    height: 10px;
    background: #1977f2;
    width: 10px;
    margin-right: 10px;
}

.customize-control-repeater .customize-control-title::after,
.customize-control-overclockers-typography .customize-control-title::after,
.overclockers-accordion-section-title:after {
    content: '';
    height: 10px;
    background: #1977f2;
    flex-grow: 1;
    margin-left: 10px;
}