/*!
Theme Name: Overclockers
Theme URI: http://underscores.me/
Author: Kishor
Author URI: https://www.overclockers.co.uk/
Description: Description
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: overclockers
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned.

Overclockers is based on Underscores https://underscores.me/, (C) 2012-2020 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic
	- Normalize
	- Box sizing
# Base
	- Typography
	- Elements
	- Links
	- Forms
## Layouts
# Components
	- Navigation
	- Posts and pages
	- Comments
	- Widgets
	- Media
	- Captions
	- Galleries
# plugins
	- Jetpack infinite scroll
# Utilities
	- Accessibility
	- Alignments

--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Generic
--------------------------------------------------------------*/

/* Normalize
--------------------------------------------- */

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
	 ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}

/* Sections
	 ========================================================================== */

/**
 * Remove the margin in all browsers.
 */
body {
	margin: 0;
}

.text-center {
	text-align: center;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
	display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

/* Grouping content
	 ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
	font-family: monospace, monospace;
	font-size: 1em;
}

/* Text-level semantics
	 ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */
a {
	background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
	font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

/**
 * Add the correct font size in all browsers.
 */
small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/* Embedded content
	 ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */
img {
	border-style: none;
}

/* Forms
	 ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
	overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
	text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
	padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */
legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
	vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
	overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

/* Interactive
	 ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
	display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
	display: list-item;
}

/* Misc
	 ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */
template {
	display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
	display: none;
}

/* Box sizing
--------------------------------------------- */

/* Inherit box-sizing to more easily change it's value on a component level.
@link http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Typography
--------------------------------------------- */
body,
button,
input,
select,
optgroup,
textarea {
	color: #404040;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 1rem;
	line-height: 1.5;
	font-family: Lato-Regular, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	font-family: 'Prompt', sans-serif;
}

p {
	margin-bottom: 1.5em;
	font-family: Lato-Regular, sans-serif;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", courier, monospace;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/* Elements
--------------------------------------------- */
body {
	background: #fff;
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li>ul,
li>ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 1.5em 1.5em;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

img {
	height: auto;
	max-width: 100%;
}

figure {
	margin: 1em 0;
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/* Links
--------------------------------------------- */
a {
	color: #000;
}

/* a:visited:not(.btn):not(.btn-primary) {
	color: #404040;
} */

a:hover,
a:focus,
a:active {
	color: #191970;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

.wp-block-button .wp-block-button__link:visited {
	color: #fff;
}

/* Forms
--------------------------------------------- */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	color: rgba(0, 0, 0, 0.8);
	line-height: 1;
	padding: 0.6em 1em 0.4em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
}

button:active,
button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
	border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

select {
	border: 1px solid #ccc;
}

textarea {
	width: 100%;
}

/*--------------------------------------------------------------
# Layouts
--------------------------------------------------------------*/
@media(min-width: 1400px) {
	.container {
		max-width: 1288px !important;
	}
}

@media(min-width: 1920px) {
	.container {
		max-width: 1670px
	}
}

.container {
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	width: 100%
}

@media(min-width: 576px) {
	.container {
		max-width: 540px
	}
}

@media(min-width: 768px) {
	.container {
		max-width: 720px
	}
}

@media(min-width: 992px) {
	.container {
		max-width: 960px
	}
}

@media(min-width: 1200px) {
	.container {
		max-width: 1140px
	}
}

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

/********************  Preloader Demo-1 *******************/
.preloader-wrapper {
	background: #000;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 22;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.preloader1,
.preloader1 .loader {
	display: flex;
	align-content: center
}

.preloader1 {
	height: 100%;
	width: 100%;
	padding: 20px 0;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	perspective: 700
}

.preloader1 .loader {
	text-align: center;
	margin: 5px;
	border-radius: 50%;
	border: 4px solid #fff;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	transform-style: preserve-3d;
	position: relative
}

.preloader1 .preloader1 .loader-inner-1 {
	animation: change_first_circle 2s ease-in-out infinite
}

.preloader1 .loader-inner-2 {
	animation: change_second_circle 2s ease-in-out infinite
}

.preloader1 .loader-inner-3 {
	width: 100px;
	height: 100px;
	animation: change_last_circle 3s linear infinite
}

@keyframes change_first_circle {
	50% {
		transform: rotateX(360deg) scale(.8)
	}
}

@keyframes change_second_circle {
	50% {
		transform: rotateY(360deg) scale(.8)
	}
}

@keyframes change_last_circle {
	50% {
		transform: rotateX(360deg) scale(.8)
	}
}

/* Navigation
--------------------------------------------- */
.main-navigation {
	display: block;
	width: 100%;
}

.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 100%;
	left: -999em;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul li:hover>ul,
.main-navigation ul ul li.focus>ul {
	display: block;
	left: auto;
}

.main-navigation ul ul a {
	width: auto;
}

@media(min-width: 1021px) {
	.main-navigation ul li:hover>ul {
		left: auto;
	}
}

.main-navigation ul li.focus>ul {
	left: auto;
}

.main-navigation li {
	position: relative;
}

.main-navigation a {
	display: block;
	text-decoration: none;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {

	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
		flex-wrap: wrap;
	}
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
}

.comment-navigation .nav-links,
.posts-navigation .nav-links,
.post-navigation .nav-links {
	display: flex;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	flex: 1 0 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	text-align: end;
	flex: 1 0 50%;
}

/* Posts and pages
--------------------------------------------- */
.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.home div#page {
	padding-bottom: 30px;
}

/* Comments
--------------------------------------------- */
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/* Widgets
--------------------------------------------- */
.widget {
	margin: 0 0 1.5em;
}

.widget select {
	max-width: 100%;
}

/* Media
--------------------------------------------- */
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

/* Captions
--------------------------------------------- */
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/* Galleries
--------------------------------------------- */
.gallery {
	margin-bottom: 1.5em;
	display: grid;
	grid-gap: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	width: 100%;
}

.gallery-columns-2 {
	grid-template-columns: repeat(2, 1fr);
}

.gallery-columns-3 {
	grid-template-columns: repeat(3, 1fr);
}

.gallery-columns-4 {
	grid-template-columns: repeat(4, 1fr);
}

.gallery-columns-5 {
	grid-template-columns: repeat(5, 1fr);
}

.gallery-columns-6 {
	grid-template-columns: repeat(6, 1fr);
}

.gallery-columns-7 {
	grid-template-columns: repeat(7, 1fr);
}

.gallery-columns-8 {
	grid-template-columns: repeat(8, 1fr);
}

.gallery-columns-9 {
	grid-template-columns: repeat(9, 1fr);
}

.gallery-caption {
	display: block;
}

/*--------------------------------------------------------------
# Plugins
--------------------------------------------------------------*/

/* Jetpack infinite scroll
--------------------------------------------- */

/* Hide the Posts Navigation and the Footer when Infinite Scroll is in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
	display: none;
}

/* Re-display the Theme Footer when Infinite Scroll has reached its end. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Utilities
--------------------------------------------------------------*/

/* Accessibility
--------------------------------------------- */

/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	clip-path: none;
	color: #21759b;
	display: block;
	font-size: 0.875rem;
	font-weight: 700;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
}

/* Do not show the outline on the skip link target. */
#primary[tabindex="-1"]:focus {
	outline: 0;
}

/* Alignments
--------------------------------------------- */
.alignleft {

	/*rtl:ignore*/
	float: left;

	/*rtl:ignore*/
	margin-right: 1.5em;
	margin-bottom: 1.5em;
}

.alignright {

	/*rtl:ignore*/
	float: right;

	/*rtl:ignore*/
	margin-left: 1.5em;
	margin-bottom: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.5em;
}

/* top header */
header {
	background: #000;
	min-height: 77px;
}

#rh-wrapper-id {
	background: #000;
	font-family: Lato-Regular, sans-serif;
	font-size: 1rem;
	line-height: 1.4;
	min-height: 77px;
}

@media(min-width: 1400px) {
	#rh-wrapper-id {
		min-height: 103.6px;
	}
}

.contact-bar {
	background: #5f5f5f;
	width: 100%;
	padding: 5px 0;
	z-index: 100;
}


.contact-bar-inner {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.contact-bar-inner a:last-of-type {
	border: solid #fff 1px;
	padding: 4px 10px;
	line-height: 12px;
}

.contact-bar-inner a {
	margin-left: 20px;
	color: #fff;
	text-decoration: none;
	font-size: 12px;
}

/*--------------------------------------------------------------
# Main Navigation
--------------------------------------------------------------*/

.main-navigation ul li a {
	font-size: 16px;
	line-height: 24px;
	padding: 5px 16px 5px 16px;
	margin: 0px 4px;
	color: #ffffff;
	display: block;
	font-family: Lato-Bold, sans-serif;
}

.main-navigation ul li ul a {
	padding: 5px 16px 5px 16px;
	margin: 7px 0px;
}


.main-navigation ul li.focus,
.main-navigation ul li.current-menu-item {
	background-color: #ffffff;
}

@media only screen and (min-width: 1021px) {
	.main-navigation ul li:hover {
		background-color: #ffffff;
	}

	.main-navigation ul li:hover>a {
		color: #000;
	}
}

.main-navigation ul li.focus span.child-nav-toggle,
.main-navigation ul li.current-menu-item span.child-nav-toggle {
	filter: invert(0);
	background-color: #ccc;
}

.main-navigation ul li.focus span.child-nav-toggle img {
	transform: rotate(90deg);
}

.main-navigation ul li a:hover,
.main-navigation ul li.focus>a,
.main-navigation ul li.current-menu-item>a {
	color: #000000;
	text-decoration: none;
}

span.child-nav-toggle {
	position: absolute;
	right: 0;
	top: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(0%, -50%);
	height: 34px;
	width: 34px;
	filter: invert(1);
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	display: none;
}

@media only screen and (max-width: 1020px) {
	span.child-nav-toggle {
		display: flex;
	}
}

header {
	padding-bottom: 2px !important;
}

.nav-wrapper {
	border-top: 1px solid #545554;
}

.main-navigation {
	padding-top: 15px;
	width: 55%;
}

.main-navigation form.search-submit {
	display: none;
}


form#search-form {
	position: relative;
	font-family: Lato-Regular, sans-serif;
}

form .input-group-append img {
	padding-top: 13px;
}

span.input-group-append {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translate(9px, -50%);
}

#search-form label .search-field {
	width: 449px;
	height: 44px;
	background-color: #454545;
	border: none;
	border-radius: 0;
	margin-top: 10px;
	padding-left: 40px;
}

.mode {
	margin-top: 20px;
	width: 130px;
	display: flex;
	justify-content: flex-end;
}

.mode img {
	width: 20px;
	height: 20px;
	margin-right: 5px;
	display: none;
}

.mode img.active {
	display: block;
}

.mode .btn-toggle.active {
	background-color: #29b5a8;
	transition: background-color 0.25s;
}

.mode .btn-toggle {
	display: inline-block;
	font-weight: 400;
	line-height: 1.25;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-size: 1rem;
	border-radius: 0.25rem;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;

	padding: 0;
	position: relative;
	border: none;
	height: 1.3rem;
	width: 2.4rem;
	border-radius: 1.5rem;
	color: #545554;
	background: #545554;
}

.mode .btn-toggle.active>.handle {
	left: 1.3875rem;
	transition: left 0.25s;
}

.mode .btn-toggle>.handle {
	position: absolute;
	top: 0.1875rem;
	left: 0.1875rem;
	width: 0.9rem;
	height: 0.9rem;
	border-radius: 1.125rem;
	background: #fff;
	transition: left 0.25s;
}

@media only screen and (max-width: 990px) {
	.mode {
		position: absolute;
		right: 150px;
	}
}


/*--------------------------------------------------------------
# Artical Row
--------------------------------------------------------------*/
.nav-wrapper {
	display: flex;
}

.slide-container {
	height: 480px;
	margin-bottom: 40px;
}

.slide-container .aurther p span {
	line-height: 24px;
}

.aurther-date p {
	margin-bottom: 0px;
}

.large-artical .lr-0 {
	padding-left: 0px;
	padding-right: 0px;
}

.nav-wrapper .search-submit {
	display: none;
}

.swiper .image-content {
	position: absolute;
	background: rgba(0, 0, 0, 1);
	width: 100%;
}

img,
.swiper .image-content {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

a img:hover,
.swiper .image-content:hover {
	opacity: 0.7;
}

.card.swiper-slide.item {
	height: 480px;
}

.swiper .card-image {
	opacity: 0.6;
}

.owl-nav button[class*="owl-"] {
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
	-webkit-transition-duration: 500ms;
	-o-transition-duration: 500ms;
	transition-duration: 500ms;
	background-position: center center;
	background-size: cover;
	background-blend-mode: multiply;
	opacity: 1;
	height: 60px;
	width: 50px;
	background-color: rgba(0, 0, 0, 0.7) !important;
}

.owl-carousel .owl-nav button.owl-next {
	right: 7px;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
	font-size: 50px !important;
	color: #E5e5e5 !important;
}

.card-content {
	position: relative;
	padding: 20px;
	top: 280px;
}

.card-content h3 span {
	font-size: 11px;
	line-height: 20px;
	color: #ffffff;
	font-weight: bold;
	text-transform: uppercase;
}

.card-image img {
	width: 323px;
	height: 480px;
	object-fit: cover;
}

.blogcolor-how-to,
.blogcolor-news {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.blogcolor-how-to a {
	background-color: #114E9D;
	padding: 4px;
	font-size: 11px;
	line-height: 20px;
	color: #ffffff;
}

.blogcolor-gaming span {
	background-color: #8A2BE2;
	padding: 4px;
	font-size: 11px;
	line-height: 20px;
	color: #ffffff;
}

.blogcolor-offers span {
	background-color: #CC1420;
	padding: 4px;
	font-size: 11px;
	line-height: 20px;
	color: #ffffff;
}

.blogcolor-buyers span {
	background-color: #CFA132;
	;
	padding: 4px;
	font-size: 11px;
	line-height: 20px;
	color: #ffffff;
}

.blogcolor-news a {
	background-color: #5CAC17;
	padding: 4px;
	font-size: 11px;
	line-height: 20px;
	color: #ffffff;
}

.blogcolor-how-to a:hover {
	text-decoration: none;
	color: #ffffff;
}

.byline .author a {
	color: #F5F5F5;
	font-size: 14px;
	line-height: 20px;
}

.description {
	font-family: 'Prompt', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 28px;
	color: #ffffff;
	text-transform: initial;
	margin-bottom: 10px;
}

.description a {
	color: #ffffff;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.description a:hover {
	color: #ffffff;
	text-decoration: none;
}

.slide-container .swiper-button-prev:after,
.slide-container .swiper-rtl .swiper-button-next:after {
	font-size: 20px;
	padding: 20px;
	background: rgba(0, 0, 0, 0.5);
	color: #ffffff;
}

.swiper-wrapper {
	max-height: 100%;
	height: 100%;
	display: flex;
}

.slide-container .swiper-button-next:after,
.slide-container .swiper-rtl .swiper-button-prev:after {
	font-size: 20px;
	padding: 20px;
	background: rgba(0, 0, 0, 0.5);
	color: #ffffff;
}

.aurther {
	display: flex;
}

.aurther h5 {
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #f5f5f5;
	margin-bottom: 10px;
	width: auto;
	font-family: Lato-Regular, sans-serif;
}

.aurther span {
	padding-left: 0px;
	padding-right: 5px;
	color: #ABABAB;
	font-size: 20px;
	line-height: 8px;
}

.aurther span.byline {
	padding-right: 0px;
}

.large-artical .col-md-6 {
	padding-left: 0px;
}

.aurther p {
	margin-bottom: 0px;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
	font-size: 12px;
}

.main-navigation button {
	background-color: #000;
	color: #fff;
	border: 0px;
	text-decoration: none;
	outline: none;
	font-family: 'Prompt', sans-serif;
	text-transform: uppercase;
	font-weight: 400;
	border: 1px solid;
	padding: 0 7px;
	display: none;
	align-items: center;
	gap: 9px;
}

.main-navigation button i {
	color: #fff;
	font-size: 30px;
}

.main-navigation button:focus {
	outline: none;
}

textarea:focus,
input:focus {
	outline: none;
}

.main-navigation button img {
	padding-right: 5px;
	padding-left: 0px;
	margin-top: -2px;
}

.main-navigation button img:hover {
	filter: brightness(0);
}


/*--------------------------------------------------------------
# Large Artical 
--------------------------------------------------------------*/


.large-artical {
	display: flex;
	padding-top: 20px;
}

.news-icon img {
	width: 40px;
	margin-right: 15px;
	margin-top: -5px;
}

.news-icon h1 {
	margin-bottom: 0px;
	font-family: 'Prompt', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 36px;
	text-transform: uppercase;
	color: #2B2B2B;
	height: 36px;
}

.large-artical img {
	width: 100%;
	margin-bottom: 30px;
	object-fit: cover;
	height: 388px;
}

.right-artical {
	padding-left: 15px;
	padding-top: 86px;
	align-self: stretch;
}

.right-artical h2 {
	font-family: 'Prompt', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 34px;
	text-transform: uppercase;
	color: #000000;
	margin-bottom: 10px;
}

.right-artical h2 a {
	color: #000000;
	text-decoration: none;
}

.right-artical h2 a:hover {
	color: #000000;
}

#large-artical {
	padding-top: 60px;
}

.aurther-date {
	display: flex;
	margin-top: -5px;
}

.aurther-date h5 {
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #545554;
	font-family: Lato-Regular, sans-serif !important;
	margin-bottom: 0px;
	padding-right: 5px;
}

.aurther-date span {
	padding-left: 0px;
	padding-right: 10px;
	color: #6C757D;
	font-weight: 400;
	font-size: 19px;
	line-height: 18px;
}

.da-left .byline span {
	padding-right: 0px;
}

.aurther-date .byline .author a {
	color: #6C757D;
	text-decoration: none;
}

.aurther-date .posted-on a {
	color: #6C757D;
	text-decoration: none;
	font-size: 14px;
	line-height: 20px;
	font-family: Lato-Regular, sans-serif;
}

.right-artical p {
	margin-bottom: 15px;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	font-size: 16px;
	line-height: 24px;
	color: #545554;
	font-family: Lato-Regular, sans-serif;
	font-weight: 400;
}

.news-block .aurther-date h5,
.latest-artical .news-blog .news-block .aurther-date h5 {
	padding-right: 0px;
}

.aurther-date p {
	margin-bottom: 0px;
}

.post-time {
	padding-right: 0px;
}

.news-blog h4 {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.latest-artical .news-block h4 {
	color: #2B2B2B;
	text-decoration: none;
	margin-top: 25px;
}

.latest-artical .news-block h4 a {
	text-decoration: none;
	color: #2B2B2B;
}

.da-left {
	display: flex;
	width: 100%;
}

.post-time {
	width: 100%;
}

.right-artical .post-time {
	width: 100%;
	text-align: right;
	width: 110px;
	color: #6C757D;
}

.single-page-wrapper .post-thumbnail img {
	margin-bottom: 20px;
}

.single-page-wrapper .entry-header h1 {
	font-size: 24px;
	line-height: 34px;
}

/*--------------------------------------------------------------
# News Blog
--------------------------------------------------------------*/


.news-blog {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 30px;
}

.news-block {
	margin-bottom: 0px;
}

.news-block h4 {
	font-family: Lato-Bold, sans-serif !important;
	font-style: normal;
	font-weight: 700;
	text-transform: initial;
	font-size: 20px;
	line-height: 24px;
	color: #2B2B2B;
	margin-top: 25px;
	padding-right: 20px;
	margin-bottom: 10px;
}

.news-block p {
	margin-bottom: 15px;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	font-size: 16px;
	line-height: 24px;
	color: #545554;
	font-family: Lato-Regular, sans-serif;
	font-weight: 400;
	margin-bottom: 0px;
}

.latest-artical-list-view .news-block p {
	display: block;
}

.latest-artical-list-view .news-block h4 {
	margin-top: 0;
}

.entry-content {
	font-family: Lato-Regular, sans-serif;
}

.news-block h3 {
	margin-top: -40px;
	padding-left: 10px;
	position: relative;
	z-index: 2;
}

.news-block img {
	width: 292px;
	height: 160px;
	object-fit: cover;
}

.right-artical .aurther-date .byline {
	padding-right: 5px;
}

.aurther-date .byline {
	padding-right: 0px;
}

.news-blog h4 a {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	color: #2B2B2B;
	text-decoration: none;
}

.news-blog h4 a:hover {
	color: #2B2B2B;
}

.blogcolor-news a:hover,
.blogcolor-how-to a:hover,
.blogcolor-buyers a:hover,
.blogcolor-offers a:hover,
.blogcolor-gaming a:hover {
	color: #ffffff;
	text-decoration: none;
}

.popular-tags {
	background-color: #F5F5F5;
	padding: 60px 0px;
	margin-top: 60px;
	margin-bottom: 50px;
}

.page-header {
	position: relative;
}

.page-header h1.page-title {
	margin-bottom: 16px;
	font-size: 32px;
	line-height: 36px;
	font-family: 'Prompt', sans-serif;
	font-style: normal;
	font-weight: 700;
}

.breadcrumb-section {
	height: 40px;
	margin-bottom: 12px;
}

.breadcrumb-section li img {
	width: 17px;
	padding-bottom: 3px;
}

.category-header h2 {
	font-family: 'Prompt', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 34px;
	text-transform: uppercase;
	color: #000000;
	text-align: center;
	margin-bottom: 34px;
}

.p-tags {
	display: flex;
	justify-content: center;
	gap: 15px 24px;
	flex-wrap: wrap;
}

.p-tags h5 {
	background: #2B2B2B;
	padding: 4px 16px;
	margin-bottom: 0px;
}

.p-tags h5:hover {
	background-color: #545554;
}

.p-tags h5 a {
	font-family: 'Prompt', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 28px;
	color: #FFFFFF;
	text-decoration: none;
}


/*--------------------------------------------------------------
# Latest Artical Section
--------------------------------------------------------------*/


.latest-artical-section {
	padding-bottom: 50px;
}

.latest-artical {
	display: grid;
	gap: 30px;
	grid-template-columns: repeat(3, 1fr);
}

.pagination {
	display: flex;
	gap: 2px;
	list-style: none;
	justify-content: center;
	padding-left: 0px;
	margin-left: 0px;
	padding-top: 30px;
}

.page-navigation ul li {
	border: 1px solid;
	font-size: 16px;
	line-height: 27px;
}

.see-all {
	text-align: right;
}

.next-prev-button,
.see-all .button {
	font-family: Lato-Bold, sans-serif !important;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
	color: #2B2B2B;
	border: 2px solid #232323;
	background: #fff;
	padding: 7px 6px;
}

.next-prev-button:hover,
.see-all .button:hover {
	background-color: #2B2B2B;
	color: #ffffff;
	text-decoration: none;
}

.gaming-section .see-all,
.news-section .see-all,
.howto-section .see-all {
	margin-top: 7px;
}

.gaming-section,
.news-section,
.howto-section {}

.see-all span {
	padding-left: 10px;
}

.section-line hr {
	height: 4px;
	background-color: #E5E5E5;
	margin: 40px 0 60px;
	border-top: 0px;
}

.latest-artical .news-block img {
	width: 410px;
	height: 225px;
	object-fit: cover;
}

.latest-artical.author-box-wrapper .news-block img {
	height: 425px;
}

#breadcrumb {
	font-family: Lato-Regular, sans-serif;
	list-style: none;
	display: inline-block;
	padding-left: 0px;
	margin-bottom: 0px;
	height: 45px;
	padding-top: 15px;
	margin-left: 0;
}

#breadcrumb li {
	color: #6C757D;
	float: left;
	font-size: 14px;
	line-height: 20px;
}

#breadcrumb .trail-end {
	color: #6C757D;
}

#breadcrumb .fa {
	font-size: 14px;
}

#breadcrumb li a {
	color: #2b2b2b;
	display: block;
	text-decoration: none;
	position: relative;
	height: 40px;
	line-height: 20px;
	padding: 0 10px 0 0px;
	text-align: center;
	margin-top: 0px
}

#breadcrumb li:nth-child(even) a {
	background-color: none;
}

#breadcrumb li:nth-child(even) a:before {
	border-color: none;
	border-left-color: transparent;
}

#breadcrumb li:nth-child(even) a:after {
	border-left-color: none;
}

#breadcrumb li:first-child a {
	-moz-border-radius: 4px 0 0 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px 0 0 4px;
}

#breadcrumb li:first-child a:before {
	border: none;
}

#breadcrumb li:last-child a {
	color: #6C757D;
}

#breadcrumb li:last-child a:after {
	border: none;
	display: none;
}

#breadcrumb li a:before {
	border-left-color: transparent;
}

#breadcrumb li a:after {
	content: url(images/breadcrumbarrow.png);
	padding-left: 10px;
}


#breadcrumb li a:active {
	color: #6C757D;
}


.toggled button img:hover,
.toggled button img:active,
.toggled button img:focus,
.toggled button img:visited,
.toggled button img:focus-visible {
	filter: brightness(0);
}

#masthead {
	padding-bottom: 0px !important;
}


/*--------------------------------------------------------------
# Detail page Css
--------------------------------------------------------------*/
.post-on a {
	font-family: Lato-Regular, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #6C757D;
	padding: 10px 0px;
}

.post-on a:hover {
	color: #6C757D;
	text-decoration: none;
}

.post-thumbnail img {
	margin-bottom: 50px;
}

.entry-header .post-thumbnail img {
	height: 478px;
	width: 100%;
	object-fit: cover;
}

.post-on h1 {
	font-family: 'Prompt', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 34px;
	text-transform: uppercase;
	color: #000000;
}


.entry-content p {
	font-size: 16px;
	line-height: 24px;
	color: #000000;
	margin-top: 20px;
	margin-bottom: 30px;
}

.entry-content figcaption {
	text-align: center;
	color: #545554;
	font-size: 12px;
	line-height: 18px;
	margin-bottom: 30px;
	margin-top: 10px;
}

.entry-content figcaption {
	text-align: center;
	color: #545554;
	font-size: 12px;
	line-height: 18px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.entry-content blockquote {
	border: 4px solid #E5E5E5;
	padding: 32px;
}

.entry-content blockquote p {
	font-family: 'Prompt', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 28px;
	margin-bottom: 20px;
	margin-top: 0px;
}

.entry-content blockquote cite {
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	color: #545554;
	font-style: normal;
}

.entry-content blockquote cite img {
	width: 48px;
	float: right;
	margin-top: -20px;
}

.entry-content h3 {
	font-size: 20px;
	text-transform: inherit;
	line-height: 24px;
	margin-top: 50px;
	margin-bottom: 20px;
}

.tag-list a {
	font-family: Lato-Regular, sans-serif;
	font-style: normal;
	color: #ffffff;
	text-decoration: none;
	font-weight: 800;
	font-size: 11px;
	line-height: 13px;
	text-transform: uppercase;
	background-color: #000000;
	padding: 3px 5px 4px;
	margin-right: 5px;
}

.tag-list a:visited {
	color: #fff;
}

.tag-list a:not(:first-child):not(:nth-child(2)) {
	display: none;
}

.profile-and-share {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	border-bottom: 1px solid #E5E5E5;
	margin-top: 20px;
}

.author-profile-image {
	display: block;
}

.dec-wrapper {
	display: flex;
}

.profil-name p {
	color: #545554;
	font-size: 14px;
	line-height: 20px;
	font-family: Lato-Regular, sans-serif;
	margin-bottom: 0px;
}

.profile-wrapper {
	flex-grow: 9;
}

.author-profile-image .profil-name {
	padding-top: 20px;
}

.author-profile-image .profile-img img {
	border-radius: 5px;
}

.single-page-wrapper h1.entry-title {
	font-family: 'Prompt', sans-serif;
	font-style: normal;
	font-weight: 700;
	padding: 20px 0;
	margin-bottom: 0px;
	text-transform: uppercase;
}

.author-profile-image .profil-name h3 {
	font-family: 'Prompt', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 30px;
	text-transform: uppercase;
	color: #2B2B2B;
	margin-bottom: 0px;
}

.author-profile-image .profil-name h3 span {
	border-bottom: 4px double;
	border-width: thick;
}

.profile-wrapper p {
	font-family: Lato-Regular, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
	color: #6C757D;
	margin-bottom: 10px;
	margin-top: 10px;
	text-transform: uppercase;
}

.entry-header .author-profile-image {
	display: flex;
	margin-bottom: 20px;
}

.entry-header .aurther-description {
	display: none;
}

.single-page-wrapper .entry-header .profile-img img {
	width: 50px;
	height: 50px;
	object-fit: cover;
}

.entry-header .author-profile-image .profil-name {
	padding-top: 0px;
}

.entry-header .profile-wrapper {
	padding-left: 15px;
}

.entry-header .author-profile-image .profil-name h3 span {
	border: none;
}

.entry-header .profile-wrapper p {
	font-family: Lato-Regular, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 11px;
	line-height: 18px;
	color: #6C757D;
	margin-top: 0px;
	margin-bottom: 0px;
	text-transform: uppercase;
}

.entry-header .author-profile-image .profil-name h3 {
	font-family: 'Prompt', sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 150%;
	text-transform: uppercase;
}

.entry-header .aurther-description,
.entry-header .dec-wrapper .twitter {
	display: none;
}

.author-profile .twitter {
	width: 24px;
	padding-top: 3px;
}

.section-share {
	padding-top: 20px;
	display: flex;
	align-items: center;
	gap: 1em;
}

.section-share ul {
	text-decoration: none;
	list-style: none;
	display: inline-flex;
	padding-left: 0px;
	margin-left: 0px;
}

.section-share ul img {
	width: 24px;
	margin-right: 5px;
}

.tag-list a {
	text-decoration: none;
}

.tag-list a:hover {
	text-decoration: none;
	color: #efefef;
}

.simplesocialbuttons button:after,
.section-share ul li {
	font-size: 12px;
	color: #6C757D;
	font-family: Lato-Regular, sans-serif;
	line-height: 20px;
}

.simplesocialbuttons.simplesocial-round-icon button {
	border: none;
	background: #e5e5e5;
	height: 26px;
}

.simplesocialbuttons.simplesocial-round-icon button:after {
	line-height: 28px;
}

.simplesocialbuttons.simplesocial-round-icon button {
	padding-left: 26px;
}

.simplesocialbuttons.simplesocial-round-icon button:after {
	width: 26px;
}

div.simplesocialbuttons {
	display: none;
}

.section-share div.simplesocialbuttons {
	display: block;
}

.post-navigation {
	font-family: Lato-Regular, sans-serif;
}

.featured-post-right h2 {
	font-size: 26px;
	line-height: 32px;
	font-family: 'Prompt', sans-serif;
	font-style: normal;
	font-weight: 700;
}

.featured-post-right p {
	font-family: Lato-Regular, sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #545554;
}

h2.top-story {
	font-family: Lato-Bold, sans-serif;
	padding: 10px 0px;
}

.section-share ul li a {
	text-decoration: none;
	color: #6C757D;
	padding-right: 20px;
}

.section-share ul li a:hover {
	text-decoration: none;
}

form#search-form label {
	width: 100%;
}

.main-navigation ul .sub-menu {
	background-color: #222222;
	width: 250px;
	display: inline-block;
	padding: 5px;
	margin-bottom: 15px;
}

.sub-menu {
	position: absolute;
	display: none;
	z-index: 1;
	box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.25);
}

.single-page-wrapper {
	display: flex;
	gap: 61px;
}

.single-page-wrapper .site-main {
	width: 850px;
}

.single-page-wrapper.full-width .site-main {
	width: 100%;
}

.full-width .entry-header .author-profile-image,
.full-width .post-on {
	display: none;
}

.full-width .profile-and-share {
	margin-top: 0;
}

.full-width .crp_related ul {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2em;
}

.full-width .section-share {
	padding-top: 0;
	justify-content: space-between;
	width: 100%;
}

.widget-area {
	width: 370px;
}

.single-page-wrapper .profile-img img {
	width: 100px;
	height: 100px;
	object-fit: cover;
}

.author-profile .widget-area h2 {
	font-family: 'Prompt', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 10px;
	color: #2B2B2B;
}

.author-profile .widget-area p {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #545554;
	margin-bottom: 0px;
}

.profile-and-share.footer-content,
.single-page-wrapper .author-profile {
	background-color: #f5f5f5;
	padding: 30px;
	margin-bottom: 30px;
}

.section-margin-bottom {
	margin-bottom: 60px;
}

.author-post img {
	min-width: 100px !important;
	height: 55px !important;
	object-fit: cover;
}

.author-post li {
	margin-bottom: 15px;
}

.author-post ul li a {
	font-family: Lato-Bold, sans-serif !important;
	color: #2b2b2b;
	font-size: 20px;
	line-height: 24px;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-decoration: none;
}

.author-post ul li a:hover {
	text-decoration: none;
}

.author-post ul li .wp-block-latest-posts__post-date {
	color: #545554;
	font-size: 14px;
	line-height: 20px;
	padding-top: 10px;
	font-family: Lato-Regular, sans-serif;
}

.crp_related ul {
	padding-left: 0px;
	list-style: none !important;
}

aside .author-post h2 {
	font-family: Lato-Bold, sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 24px;
	margin-top: 30px;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.crp_related ul li figure img {
	width: 100%;
	height: 400px;
	object-fit: cover;
}

.crp_related h3 {
	font-size: 24px;
	line-height: 34px;
	font-family: 'Prompt', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	padding-bottom: 20px;
}

.crp_related ul li {
	position: relative;
}

.crp_related ul li a {
	color: #000000;
	text-decoration: none;
}

.crp_related ul li a:hover {
	columns: #000000;
}

.crp_related ul li .crp_author a {
	color: #454545;
	padding-right: 10px;
}

.crp_primary_term {
	position: absolute;
	font-family: Lato-Bold, sans-serif !important;
	font-weight: 700;
	top: 365px;
	left: 10px;
	color: #ffffff;
	background-color: #5CAC17;
	text-transform: uppercase;
	padding: 5px 4px;
	font-size: 11px;
	line-height: 13px;
}

.crp_related ul li .crp_author:after {
	content: '\00B7';
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	margin-right: 10px;
}

.page-header .large-artical {
	padding-top: 0px;
}

.crp_title {
	display: block;
	font-size: 24px;
	line-height: 34px;
	font-family: 'Prompt', sans-serif;
	font-weight: 700;
	margin-bottom: 10px;
}

.crp_excerpt {
	font-size: 16px;
	line-height: 24px;
	display: inline-block;
	font-family: Lato-Regular, sans-serif;
	font-weight: 400;
	margin-top: 10px;
	margin-bottom: 45px;
}

.crp_author,
.crp_date {
	font-size: 14px;
	line-height: 20px;
	color: #545554;
	font-family: Lato-Regular, sans-serif;
}

#search-form label .search-field {
	color: #CCCCCC;
}

input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none;
	height: 17px;
	width: 17px;
	border-radius: 50em;
	background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg) no-repeat 50% 50%;
	background-size: contain;
	opacity: 0.4;
	pointer-events: none;
}

input[type="search"]:focus::-webkit-search-cancel-button {
	opacity: .7;
	pointer-events: all;
}

.page-navigation ul li a {
	text-decoration: none;
	color: #545554;
	padding: 4px 9px 6px 9px;
	font-family: Lato-Regular, sans-serif;
}

.page-navigation ul li .current {
	color: #000000;
	color: #ffffff;
	background-color: #000000;
	padding: 4px 9px 6px 8px;
}

.page-navigation ul li a:hover {
	text-decoration: none;
	padding: 4px 9px 5px 9px;
}

.page-navigation ul li a:hover {
	background-color: #000000;
	color: #ffffff;
}

.f-product-wrapper {
	border: 1px solid var(--gray-scale-card-border, #E5E5E5);
	padding: 15px;
}

.f-product-wrapper .product-image img {
	margin-top: 15px;
	width: 100%;
	height: 170px;
	object-fit: cover;
}

.f-product-wrapper .product-wrapper h3 {
	color: #2B2B2B;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 140%;
	margin-top: 15px;
	margin-bottom: 0px;
}

.f-product-wrapper .product-wrapper .sku {
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 18px;
	color: #808181;
	margin-top: 5px;
	margin-bottom: 0px;
}

.f-product-wrapper .product-wrapper .rating {
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 18px;
	margin-top: 5px;
	margin-bottom: 10px;
	color: #E57125;
}

.f-product-wrapper .product-wrapper .rating span {
	color: #2B2B2B;
}

.f-product-wrapper .product-wrapper .pricing {
	margin-top: 5px;
	margin-bottom: 0px;
}

.f-product-wrapper .product-wrapper .pricing .odd-price {
	color: #C52626;
	font-size: 15px;
	font-style: normal;
	font-weight: 500;
	line-height: 21px;
	text-decoration-line: strikethrough;
	text-decoration: line-through;
}

.f-product-wrapper .product-wrapper .pricing .main-price {
	font-family: Lato-Bold, sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 28px;
	color: #272727;
}

.f-product-wrapper .product-wrapper p.vat-info {
	color: #6C757D;
	font-family: Lato-Regular, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
	margin-top: 0px;
	margin-bottom: 5px;
}

.f-product-wrapper .product-wrapper p.free-shipping {
	font-family: Lato-Bold, sans-serif;
	font-size: 14px;
	color: #5CAC17;
	font-style: normal;
	font-weight: 700;
	line-height: 21px;
	text-transform: uppercase;
	margin-top: 0px;
	margin-bottom: 3px;
}

.f-product-wrapper .product-wrapper p.instock {
	margin-top: 3px;
	margin-bottom: 15px;
	font-family: Lato-Regular, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
	color: #2B2B2B;
}

.f-product-wrapper .product-wrapper .instock::before {
	display: inline-block;
	content: '';
	-webkit-border-radius: 0.375rem;
	border-radius: 0.375rem;
	height: 0.65rem;
	width: 0.65rem;
	margin-right: 0.5rem;
	background-color: #5CAC17;
	text-transform: capitalize;
}

.f-product-wrapper .product-wrapper .outof-stock::before {
	display: inline-block;
	content: '';
	-webkit-border-radius: 0.375rem;
	border-radius: 0.375rem;
	height: 0.65rem;
	width: 0.65rem;
	margin-right: 0.5rem;
	background-color: #C52626;
	text-transform: capitalize;
}


.f-product-wrapper .product-wrapper .btn-primary {
	padding: 8px 14px;
	width: 100%;
	background-color: #5CAC17;
	color: #ffffff;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;
	border: none;
}

.entry-content .tag-list {
	margin-bottom: 20px;
}

.entry-content blockquote p:after {
	background: url(images/block-quotes.png) no-repeat;
	content: "";
	height: 48px;
	width: 48px;
	position: absolute;
	margin-left: -10px;
	background-size: 48px;
	margin-top: 35px;
}

.profile-and-share .simplesocialbuttons.simplesocial-round-icon button.simplesocial-fb-share:hover,
.profile-and-share .simplesocialbuttons.simplesocial-round-icon button.simplesocial-twt-share:hover,
.profile-and-share .simplesocialbuttons.simplesocial-round-icon button.simplesocial-email-share:hover {
	background: #000000 !important;
}

.aurther-description a {
	text-decoration: none;
}


/*--------------------------------------------------------------
# Responsive Css
--------------------------------------------------------------*/

@media only screen and (max-width: 1360px) {
	.main-navigation {
		width: 65%;
	}

	.site-header label .search-field {
		width: 370px;
	}

	.main-navigation .menu-menu-1-container a {
		padding: 5px 15px;
	}

	.mode {
		width: 70px;
	}

	.main-navigation a {
		padding: 5px 15px 5px 15px;
	}

	#search-form label .search-field {
		width: 300px;
		margin-right: 15px;
	}

}

@media only screen and (max-width: 1200px) {
	#search-form label .search-field {
		width: 370px;
	}

	.main-navigation .menu-menu-1-container a {
		padding: 5px 10px;
	}

	.mode {
		width: 100px;
	}

	.main-navigation a {
		padding: 5px 25px 5px 5px;
	}

	#search-form label .search-field {
		width: 300px;
		margin-right: 15px;
	}

	.main-navigation ul li a {
		padding: 5px 10px;
	}

}

@media only screen and (max-width: 1120px) {
	#search-form label .search-field {
		width: 240px;
	}

	.main-navigation a {
		padding: 5px 20px 5px 5px;
	}

	#search-form label .search-field {
		width: 230px;
		margin-right: 10px;
	}

	.right-artical {
		padding-top: 35px;
	}


}


@media only screen and (max-width: 1024px) {

	.right-artical {
		padding-top: 0px;
		padding-right: 0px;
	}

	.news-blog {
		grid-template-columns: repeat(2, 1fr);
		gap: 40px;
	}

	.large-artical img {
		margin-bottom: 40px;
		height: 305px;
	}

	.news-block img {
		width: 100%;
		height: 244px;
		object-fit: cover;
	}

	.latest-artical .news-block img {
		height: 160px;
	}

	.latest-artical .news-block h4 a {
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}

	.p-tags {
		flex-wrap: wrap;
	}

	#search-form label .search-field {
		width: 223px;
		height: 44px;
	}

	.main-navigation .menu-menu-1-container a {
		padding: 5px 10px;
	}

	.main-navigation {
		padding-top: 15px;
		width: 65%;
	}

	.entry-header .post-thumbnail img {
		height: 523px;
	}

	#search-form label .search-field {
		width: 230px;
		margin-right: 5px;
	}

	.single-page-wrapper {
		flex-wrap: wrap;
	}

	.single-page-wrapper .site-main,
	.widget-area {
		width: 100%;
	}

	.author-profile-image .profile-img img {
		float: left;
		margin-right: 20px;
	}

	.profil-name .aurther-description p {
		padding-left: 120px;
	}

	.author-profile-image .profil-name {
		padding-top: 10px;
	}

	.single-page-wrapper aside .wp-block-latest-posts__featured-image img {
		min-width: 150px !important;
		height: 83px !important;
		object-fit: cover;
	}

	.main-navigation.toggled ul {
		padding-top: 10px;
	}

	.main-navigation ul .sub-menu {
		width: 100%;
	}

	.content-footer .profile-and-share {
		display: none;
	}

}


@media only screen and (max-width: 1020px) {
	.main-navigation button {
		display: flex;
	}

	#search-form label .search-field {
		width: 100%;
		margin-right: 0px;
	}

	.main-navigation ul li a {
		padding: 5px 16px 5px 0px;
	}

	.menu-toggle {
		display: block;
	}

	.main-navigation ul {
		display: none;
	}

	.menu-blog-container .menu {
		padding-top: 30px;
	}

	.main-navigation a {
		padding: 8px 10px 10px;
		margin-bottom: 8px;
	}

	.main-navigation {
		width: 100%;
	}

	.nav-wrapper {
		flex-wrap: wrap;
	}

	.nav-wrapper form {
		width: 100%;
		margin-bottom: 10px;
	}

	.nav-wrapper form.search-form {
		width: 100%;
	}

	.search-form label {
		width: 100%;
	}

	.mode {
		position: absolute;
		right: 50px;
	}

	.site-header label .search-field {
		width: 100%;
		height: 44px;
	}

	.p-tags h5 a {
		font-size: 16px;
		line-height: 20px;
	}

	.p-tags {
		gap: 10px;
	}

	.menu-blog-container ul .sub-menu {
		width: 100%;
	}

	.sub-menu {
		position: static;
	}

	.main-navigation li {
		position: relative;
	}

	.main-navigation ul ul a {
		width: 100%;
	}

	.main-navigation a:active,
	.main-navigation a:visited {
		background-color: #ffffff;
		color: #000000;
	}

	.main-navigation a:visited {
		color: #fff;
	}

	/* .main-navigation ul li:hover>ul, */
	.main-navigation ul li.focus>ul {
		position: absolute;
	}

	.sub-menu ul li a:hover {
		background-color: #ffffff;
		color: #232323;
	}

	.main-navigation ul .sub-menu {
		width: 100%;
		padding: 0 5px;
		margin-bottom: 5px;
	}

}

@media only screen and (max-width: 992px) {
	.entry-header .post-thumbnail img {
		height: 450px;
		width: 100%;
		object-fit: cover;
	}
}

@media only screen and (max-width: 850px) {

	.large-artical .col-md-6 {
		max-width: 100% !important;
		flex: 0 0 100%;
		padding-right: 0px;
	}

	.main-navigation ul li a {
		padding: 5px 16px 5px 5px;
	}

	.large-artical img {
		width: 100%;
		height: 429px;
	}

	.large-artical {
		flex-wrap: wrap;
	}

	.right-artical {
		padding-top: 0px;
		padding-right: 0px;
		margin-bottom: 40px;
		padding-left: 0px;
	}

	.entry-header .post-thumbnail img {
		height: 388px;
	}

	.news-blog {
		grid-template-columns: repeat(2, 1fr);
	}

	.news-block img {
		width: 100%;
		height: 178px;
		object-fit: cover;
	}

	.latest-artical .news-block h4 a {
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}

	.latest-artical .news-block img {
		height: 115px;
	}

	.main-navigation {
		width: 100%;
	}

	.mode {
		height: 21px;
		position: absolute;
		right: 80px;
	}

	.site-header label .search-field {
		width: 100%;
	}

	.large-artical img {
		margin-bottom: 5px;
	}

	.right-artical h2 {
		margin-bottom: 0px;
	}

	.section-line hr {
		margin: 20px 0px 40px 0px;
	}

	.news-icon h1 {
		font-size: 24px;
		line-height: 32px;
	}

	.latest-artical .news-block {
		width: 210px;
	}

	.latest-artical-section .latest-artical {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}

}

@media only screen and (max-width: 767px) {
	.mode {
		right: 135px;
	}
}

@media only screen and (max-width: 690px) {
	.mode {
		right: 95px;
	}
}


@media only screen and (max-width: 650px) {

	.latest-artical {
		display: grid;
		gap: 30px;
		grid-template-columns: repeat(1, 1fr);
	}

	.author-profile-image {
		display: block !important;
	}

	.latest-artical .news-block img {
		height: 160px;
	}

	.large-artical img {
		height: 319px;
	}

	.news-block img {
		height: 128px;
	}

	.slide-container {
		margin-bottom: 20px;
	}

	.mode {
		right: 75px;
	}

	#search-form label .search-field {
		width: 100%;
	}

	.gaming-section .see-all,
	.news-section .see-all,
	.howto-section .see-all,
	.offers-deal-section .see-all {
		margin-top: -30px;
	}



	.entry-header .post-thumbnail img {
		height: 287px;
	}

	.latest-artical .news-block {
		width: 243px;
	}

	.latest-artical-section .latest-artical {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	.aurther-date h5 {
		padding-right: 0px;
	}

}

@media only screen and (max-width: 600px) {
	.mode {
		right: 45px;
	}

}

@media only screen and (max-width: 550px) {
	.mode {
		right: 20px;
	}

	.dec-wrapper {
		width: 100%;
	}

	.entry-header .profile-wrapper {
		padding-left: 0px;
	}

	.profil-name .aurther-description p {
		padding-left: 0px;
	}

}

@media only screen and (max-width: 480px) {
	.news-blog {
		grid-template-columns: repeat(1, 1fr);
	}

	.latest-artical .news-block img {
		width: 100%;
	}

	.latest-artical-section .latest-artical {
		grid-template-columns: repeat(1, 1fr);
	}

	.latest-artical .news-block {
		width: 100%;
	}
}

@media only screen and (max-width: 360px) {
	.news-blog {
		grid-template-columns: repeat(1, 1fr);
		gap: 20px;
	}

	.see-all .button {
		padding: 3px 5px;
		font-size: 15px;
	}

	.slide-container {
		margin-bottom: 0px;
	}

	.card-image img {
		width: 100%;
	}

	.news-block h4 {
		margin-top: 25px;
		font-size: 20px;
	}

	.large-artical img {
		width: 100%;
		height: 205px;
		object-fit: cover;
	}

	.mode {
		right: 15px;
	}

	.news-block img {
		height: 180px;
		width: 100%;
	}

	.latest-artical {
		display: grid;
		gap: 30px;
		grid-template-columns: repeat(1, 1fr);
	}

	.latest-artical .news-block img {
		height: 180px;
		width: 100%;
	}

	.large-artical img {
		margin-bottom: 15px;
	}

	.right-artical {
		margin-bottom: 30px;
	}

	.right-artical p {
		margin-bottom: 5px;
	}

	.news-icon img {
		width: 24px;
		margin-right: 0px;
	}

	.news-icon h1 {
		font-size: 21px;
		line-height: 40px;
	}

	.right-artical h2 {
		font-size: 20px;
		line-height: 26px;
	}

	.see-all span {
		padding-left: 0px;
	}

	.gaming-section .see-all,
	.news-section .see-all,
	.howto-section .see-all,
	.offers-deal-section .see-all {
		margin-top: -30;
	}

	.entry-header .post-thumbnail img {
		height: 186px;
	}

	.author-profile-image .profile-img img {
		float: none;
		margin-right: 0px;
	}

	.profil-name .aurther-description p {
		padding-left: 0px;
	}

	.author-profile-image .profil-name {
		padding-top: 20px;
	}

	.latest-artical .news-block {
		width: 100%;
	}

	.latest-artical-section .latest-artical {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}

	.page-navigation ul li {
		height: 31px;
	}

	.section-share {
		padding-top: 0px;
	}

	h2.top-story {
		padding-top: 0px;
	}

	div#featured-post,
	.featured-post-right p {
		margin-bottom: 0px;
	}

}

.wp-block-getwid-image-hotspot__wrapper,
.wp-block-getwid-image-hotspot__image {
	width: 100%;
}

div#featured-post {
	display: flex;
	gap: 1em;
	margin-bottom: 20px;
	align-items: center;
}

#featured-post.author img {
	width: 300px;
	height: 300px;
	object-fit: cover;
}

@media(max-width: 600px) {
	div#featured-post {
		flex-direction: column;
	}

	#featured-post.author img {
		width: 100%;
	}
}

.wp-block-button__link:hover {
	color: #f1f1f1;
	opacity: 0.8;
}

.content-footer {
	margin-top: 20px;
}

.content-footer .section-share {
	border-bottom: 1px solid #E5E5E5;
}

.entry-content .content-footer .tag-list {
	margin-top: 20px;
}

.content-footer .author-profile-image {
	display: flex;
	gap: 1em;
}

.content-footer .profile-img {
	width: 100%;
	max-width: 100px;
}

.content-footer .author-profile-image .profil-name {
	padding-top: 0;
}

.content-footer .author-profile-image .profil-name h3 {
	margin: 0;
}

.content-footer .profile-and-share {
	border-bottom: 0;
}

.content-footer .author-profile-image .profil-name h3 span {
	border: none;
}

.content-footer .profile-wrapper p {
	margin: 0;
}

.content-footer .twitter img {
	width: 75%;
}

/** category menu */
.category-menu {
	margin-bottom: 10px;
	white-space: nowrap;
	overflow: hidden;
}

.category-menu a {
	text-decoration: none;
}

.category-menu a:before,
.category-menu span:before {
	content: '|';
	padding: 0 5px;
	position: relative;
	color: gray;
}

.category-menu a:first-of-type:before,
.category-menu #categoryDropdown a:before {
	content: '';
	padding: 0;
}

#categoryDropdown {
	background: #ebeaeb;
	display: none;
	padding: 5px 10px;
	border-radius: 10px;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .3);
	position: absolute;
	right: 15px;
}

#categoryDropdown a {
	display: block;
	padding: 5px 0;
}

span#categoryMore {
	position: relative;
}

span#categoryMore:after {
	content: url(images/breadcrumbarrow.png);
	padding-left: 10px;
	transform: rotate(90deg);
	position: absolute;
	right: -18px;
	top: -3px;
}

.ajax-pagination {
	margin-top: 20px;
}

.latest-artical-list-view .news-block {
	display: flex;
	gap: 1em;
	background: #f7f7f7;
	padding: 10px;
	margin-bottom: 2em;
	/* flex-flow: row wrap; */
}

.latest-artical-list-view .news-block img,
.latest-artical-list-view .news-block .image-wrapper {
	width: 200px;
	height: 200px;
}

@media(max-width: 600px) {

	.latest-artical-list-view .news-block img,
	.latest-artical-list-view .news-block .image-wrapper {
		height: 100px;
		width: 100px;
	}
}

.content-wrapper {
	flex: 1;
}

.main-navigation ul li.menu-item-has-children>a {
	position: relative;
}

@media only screen and (max-width: 1020px) {
	.menu-main-menu-container {
		display: none;
	}

	.main-navigation ul li.menu-item-has-children>a {
		width: 90%;
	}
}

/*dark mode */
body.dark {
	background: #2b2b2b;
	color: #c1bebe;
}

body.dark #categoryDropdown,
body.dark .latest-artical-list-view .news-block,
body.dark .profile-and-share.footer-content,
body.dark .single-page-wrapper .author-profile {
	background: #000;
	color: #c1bebe;
}

body.dark .profil-name p {
	color: #c1bebe;
}

body.dark .latest-artical-list-view .news-block h4 a,
body.dark .right-artical h2 a,
body.dark .news-blog h4 a,
body.dark .category-header h2,
body.dark .latest-artical .news-block h4 a,
body.dark .page-navigation ul li a,
body.dark .news-icon h1,
body.dark .single-page-wrapper h1.entry-title,
body.dark .author-profile-image .profil-name h3,
body.dark .author-post ul li a,
body.dark .crp_related ul li a,
body.dark #breadcrumb li a,
body.dark .f-product-wrapper .product-wrapper h3 {
	color: #fff;
}

body.dark .right-artical p,
body.dark .news-block p,
body.dark .entry-content p,
body.dark .f-product-wrapper .product-wrapper .pricing .main-price,
body.dark .f-product-wrapper .product-wrapper p.instock {
	color: #c1bebe;
}

body.dark .popular-tags {
	background: #000;
	color: #fff;
}

body.dark .has-black-color {
	color: #fff !important;
}

body.dark .breadcrumb-section li img,
body.dark #breadcrumb li a:after {
	filter: invert(1);
}

/* wpdiscuz font family */
.contact-bar-inner a,
#wpdcom .wpd-thread-head .wpd-thread-info,
#wpd-post-rating .wpd-rating-wrap .wpd-rating-title,
#wpdcom .wpd-form .wpdiscuz-textarea-wrap textarea,
#wpdcom .wpd-social-login i.wpd-disqu,
.wpd-rating .wpd-rating-wrap .wpd-rating-value .wpdrt,
#comments #wpdcom span,
#respond #wpdcom span,
#wpdcom span,
#wpdcom .wpd-second-button,
#wpdcom .wpd-prim-button,
#wpdcom .ql-toolbar button.ql-spoiler,
#wpdcom .ql-toolbar button.ql-sourcecode,
#wpdcom .wpd-thread-filter .wpdf-sorting,
#wpdcom .wpd-comment .wpd-comment-wrap .wpd-comment-author span.wpd-user-nicename,
#wpdcom .ql-editor>* {
	font-family: Lato-Regular, sans-serif;
}