/* Toggle Section Control*/
#sub-accordion-panel-overclockers_home_panel .customize-info .customize-panel-description {
    display: block !important;
}

.control-section-toggle-section .overclockers-toggle-section,
.control-section-sidebar .overclockers-toggle-section {
    text-decoration: none;
    margin-right: 10px;
    vertical-align: middle;
}

.control-section-toggle-section .overclockers-toggle-section .dashicons,
.control-section-sidebar .overclockers-toggle-section .dashicons {
    font-size: 16px;
    vertical-align: middle;
}

.overclockers-section-visible .overclockers-toggle-section {
    color: #929292;
}

#customize-theme-controls .accordion-section-title.overclockers-section-hidden,
.overclockers-section-hidden .overclockers-toggle-section,
#sub-accordion-panel-overclockers_home_panel .control-section .overclockers-section-hidden.accordion-section-title:before {
    color: #dcdcdc;
}

.overclockers-toggle-section {
    float: right
}

/**
** Customizer Control css 
*/
.customizer-hidden {
    visibility: hidden;
    opacity: 0;
    height: 0;
    position: absolute;
    clip: rect(0, 0, 0, 0);
    left: -1000px;
    display: none !important;
}

#customize-theme-controls .accordion-section-title.overclockers-section-hidden,
.overclockers-section-hidden .overclockers-toggle-section,
#sub-accordion-panel-overclockers_home_panel .control-section .overclockers-section-hidden.accordion-section-title:before {
    color: #dcdcdc;
}