.menu-search-form.widget_search {
    position: relative;
    margin: 10px 5px;
}

/**
 * Close Menu
*/
.showing-menu-modal::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 400;
    background-color: rgba(0, 0, 0, .7);
    cursor: pointer;
}

/****
 * Mobile Menu Modal
*/
.menu-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 500;
    overflow: hidden;
    overflow-y: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    width: 300px;
    transition: -webkit-transform .25s ease;
    transition: transform .25s ease;
    transition: transform .25s ease, -webkit-transform .25s ease;
    background-color: #ffffff;
}

.admin-bar .menu-modal {
    top: 32px;
}

.menu-modal {
    display: flex;
    right: auto;
    left: 0;
    -webkit-transform: translate3d(-350px, 0, 0);
    transform: translate3d(-350px, 0, 0);
}

.menu-modal.active {
    left: 0;
    right: 0;
    -webkit-transform: none;
    transform: none;
    z-index: 9999;
}

.menu-modal-inner.modal-inner {
    width: 100%;
}

button.close-nav-toggle {
    font-weight: normal;
    width: 100%;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    background: #2b2b2b;
    border: none;
    display: flex;
    justify-content: space-between;
}

button.close-nav-toggle img {
    width: 68%;
}

button.close-nav-toggle i {
    color: #fff;
}

/******
 * Menu Tabs
*/
.menu-modal .sparkle-tabs {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-direction: row;
    background-color: rgba(0, 0, 0, .04);
}

.menu-modal .sparkle-tabs button {
    position: relative;
    padding: 18px 15px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .3px;
    font-weight: 900;
    font-size: 14px;
    line-height: 1.3;
    cursor: pointer;
    transition: background-color .25s ease, color .25s ease;
    color: #323232;
    background-image: none;
    border-radius: 0;
    background-color: #cccccc;
}

.menu-modal .sparkle-tabs button.width-100 {
    max-width: 100%;
}

.menu-modal .sparkle-tabs button:hover {
    box-shadow: none;
    color: white;
}

.menu-modal .sparkle-tabs button.active {
    /* background-color: rgba(0,0,0,.05); */
    color: white;
}

/***
 * Main Menu 
*/
.modal-menu {
    position: relative;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.modal-menu li {
    position: relative;
    display: flow-root;
    clear: both;
}

.modal-menu li a {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-left: 20px;
    min-height: 50px;
    text-transform: uppercase;
    letter-spacing: .4px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.3;
    border-bottom: 1px solid rgba(129, 129, 129, .2);
    color: #2d2a2a;
    width: 100%;
    font-family: Lato-Regular, sans-serif;
}

.modal-menu li.menu-item-has-children>a {
    width: 83%;
    float: left;
}

/***********
 * Sub Menu
*/
.modal-menu .sub-menu-toggle {
    padding-right: 0;
    width: 50px;
    height: 50px;
    border-color: rgba(129, 129, 129, .2);
    border-left: 1px solid rgba(129, 129, 129, .2);
    border-bottom: 1px solid rgba(129, 129, 129, .2);
    color: #2d2a2a;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    transition: background-color .25s ease, color .25s ease;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    padding: 0;
    border-radius: 0;
    background-color: transparent;
    float: right;
    width: 17%;
    margin: 0;
    border-top: 0;

}

.modal-menu .sub-menu-toggle.active {
    border-top: 1px solid rgba(129, 129, 129, .2);
}

.sub-menu-toggle {
    transition: transform 0.15s linear;
}

.sub-menu-toggle.active {
    transform: rotate(180deg);
}

.sub-menu-toggle i {
    color: #000;
}

.modal-menu li ul.sub-menu {
    position: static;
    margin: 0;
    padding: 0;
    width: auto;
    background: 0 0;
    box-shadow: none;
    -webkit-transform: none;
    transform: none;
    pointer-events: visible;
    pointer-events: unset;
    visibility: hidden;
    opacity: 0;
    height: 0;
}

.modal-menu li ul.sub-menu.active {
    opacity: 1;
    visibility: visible;
    height: auto;
    display: block;
}

.sparkle-tab-menu-content.sidebar-content {
    padding: 0 10px;
}

/*****
 * Mobile Menu
*/
.box-header-nav .sub-menu-toggle,
button.mobile-nav-toggle {
    display: none;
    background-color: transparent;
    padding: 0;
    font-weight: normal;
}

.toggle.nav-toggle.mobile-nav-toggle:hover {
    color: #232529;
}

@media (max-width: 1024px) {
    .admin-bar .menu-modal {
        top: 45px;
    }

    /**
    * Mobile Menu
    */
    /* .sub-menu-toggle,
    button.mobile-nav-toggle{
        display: inline;
        float: right;
    } */
    .mobile-nav-toggle {
        cursor: pointer;
        color: #232529;
    }

    .toggle-inner {
        font-size: 22px;
    }
}

@media (max-width: 992px) {

    /**
    * Mobile Menu
    */
    .sub-menu-toggle,
    button.mobile-nav-toggle {
        display: inline;
        float: right;
    }
}