.overclockers-repeater-field-control {
    background: #FFF;
    margin-bottom: 12px;
    display: block;
}

.overclockers-repeater-footer {
    margin-top: 15px;
    text-align: right;
    display: grid;
}

.overclockers-repeater-field-remove {
    color: red;
}

.overclockers-repeater-field-control:first-child .overclockers-repeater-footer {
    display: none;
}

.overclockers-repeater-field-title {
    padding: 13px 15px;
    line-height: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0;
    font-size: 1em;
    border: 1px solid #e5e5e5;
    cursor: move;
    position: relative;
    border-bottom: 0;
}

.overclockers-repeater-field-title:after {
    content: "\f142";
    font: 400 20px/1 dashicons;
    position: absolute;
    right: 0;
    top: 0;
    padding: 1px 2px 1px 0;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.overclockers-repeater-field-control.expanded .overclockers-repeater-field-title:after {
    content: "\f140";
}

.overclockers-repeater-fields {
    padding: 0 10px 10px;
    border-top: none;
    line-height: 16px;
    border: 1px solid #e5e5e5;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
    display: none;
}

.overclockers-repeater-fields .customize-control-repeater-title {
    display: block;
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    margin-bottom: 4px;
    margin-top: 10px;
}

.overclockers-repeater-field-control.expanded .overclockers-repeater-fields {
    display: block;
}

.overclockers-repeater-fields .onoffswitch {
    margin: 0;
}

.overclockers-add-control-field {
    float: right;
}

.overclockers-add-control-field:before {
    content: "\f132";
    display: inline-block;
    position: relative;
    left: -2px;
    top: -1px;
    font: 400 18px/1 dashicons;
    vertical-align: middle;
}

.overclockers-fields textarea {
    width: 100%;
    min-height: 100px;
}

.overclockers-fields select {
    width: 100%;
}

.overclockers-fields .attachment-media-view {
    background: none;
}

.overclockers-fields .attachment-media-view img {
    max-height: 100px;
    width: 100%;
    object-fit: cover;
}

.overclockers-fields.overclockers-type-colorpicker {
    position: relative;
}

.overclockers-type-checkbox {
    margin-top: 10px;
}

.overclockers-type-checkbox label {
    line-height: 20px;
    display: block;
    margin-left: 24px;
    padding-top: 6px;
}

.overclockers-type-checkbox input[type=checkbox] {
    margin-right: 8px;
    margin-left: -24px;
}


.overclockers-fields.overclockers-type-wrapper-start {
    padding: 5px;
    border: 1px solid #d7d7d7;
    margin-top: 5px;
    border-radius: 5px;
}

.wrapper-start {
    padding: 2px 10px;
    background: #ccc;
    position: relative;
    border-radius: 5px;
    cursor: pointer;
}

.wrapper-start span:after {
    content: "\f142";
    font-family: 'dashicons';
    position: absolute;
    right: 5px;
}

.overclockers-fields.overclockers-type-wrapper-start.expanded .wrapper-start span:after {
    content: "\f140";
}

.overclockers-type-wrapper-start .overclockers-fields {
    display: none;
}

.overclockers-fields.overclockers-type-wrapper-start.expanded .overclockers-fields {
    display: block;
}